.footer {
  margin-top: 0;
  padding-top: 67px;
  width: 100%;
  color: #545454;
}

.footer__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 620px) {
  .footer__copyright {
    font-size: 16px;
    margin: 48px auto 36px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 48px 19px 36px;
  }
}
