.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
  .header {
    margin: 0;
    max-width: 100%;
    padding: 28px 0 32px;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    margin: 0 auto;
    max-width: 100%;
    padding: 28px 0 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
