.profile {
  display: flex;
  align-items: center;
  margin-top: 46px;
  max-width: 880px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  grid-gap: 16px 18px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/+.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 1100px) {
  .profile__info {
    max-width: 100%;
    margin-top: 0px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: minmax(auto, 150px) auto;
  }

  .profile__description {
    max-width: 100%;
    padding-top: 7px;
  }

  .profile__title {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
  }

  .profile__image {
    width: 90px;
    height: 90px;
  }

  .profile__edit-button {
    width: 15px;
    height: 15px;
    margin-left: 160px;
    margin-right: 30px;
  }

  .profile__add-button {
    height: 40px;
    padding: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .profile__image {
    width: 120px;
    height: 120px;
    margin-top: 42px;
  }

  .profile__info {
    margin-top: 30px;
    max-width: 282px;
    text-align: center;
    grid-gap: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .profile__description {
    line-height: 17px;
    margin: 14px 43px 38px;
    text-align: center;
    font-size: 14px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 55px;
  }

  .profile__add-button {
    height: 50px;
    border-radius: 2px;
    margin-top: 20px;
    margin: 0;
    width: 282px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
